body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol>div{
	display:flex;
	flex-wrap: wrap;
}
ol>div>h3{
	float: left;
	position: absolute;
}
.card{
	/* align-content: center; */
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	overflow: hidden;
	margin: 5px;
	display: inline-block;
	max-width: 200px;
}
.card img{
	max-width: 100%;
}